@layer default, display, code, tabs;

@layer default {
  :host {
    display: block;

    slot {
      display: initial;
    }
  }
}

@layer tabs {
  :host {
    .hidden {
      display: none;
    }

    #tabs {
      [role='tablist'] {
        border-block-end: var(--gcds-border-width-md) solid var(--gcds-border-default);

        gcds-button[role='presentation']::part(button) {
          border: var(--gcds-border-width-md) solid transparent;
          margin: 0 var(--gcds-spacing-50) calc(var(--gcds-border-width-md) * -1);
          text-decoration: underline currentColor var(--gcds-link-decoration-thickness);
          text-underline-offset: var(--gcds-link-underline-offset);
        }

        gcds-button {
          &:first-of-type[role='presentation']::part(button) {
            margin-inline-start: 0;
          }

          &:hover:not(:focus)::part(button) {
            background-color: var(--gcds-color-grayscale-50);
            color: var(--gcds-link-hover);
            text-decoration-thickness: var(--gcds-link-hover-decoration-thickness);
          }
        }

        gcds-button.selected {
          &::part(button) {
            font-weight: var(--gcds-font-weights-bold);
            text-decoration-color: transparent;
            /* padding-block: var(--gcds-spacing-200); */
          }

          &:not(:focus)::part(button) {
            border-color: var(--gcds-border-default);
            border-block-end-color: var(--gcds-color-grayscale-0);
            border-end-end-radius: 0;
            border-end-start-radius: 0;
          }

          &:hover {
            pointer-events: none;
          }
        }
      }
      [role='tabpanel'] gcds-table {
        margin-block-start: var(--gcds-spacing-300);

        gcds-input {
          --gcds-input-margin: 0;
        }

        gcds-select {
          --gcds-select-min-width-and-height: 100%;
          --gcds-select-margin: 0;
        }

        @media only screen and (width < 48em) {
          gcds-textarea {
            width: 100%;
            padding-inline-end: var(--gcds-spacing-200);
          }
        }
      }

      .tabs--accessibility {
        padding: var(--gcds-spacing-100);

        gcds-button {
          margin: var(--gcds-spacing-300) 0;
        }
      }
    }
  }
}
